html,
body {
  padding: 1%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
$color:red;

.homeH1{
  color:$color;
  text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 80%;
    background: grey;
    border-radius: 3em;
    margin: 0 auto;
    padding: 2em;
    .centered {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .item , .gameItem{
      margin: 1em;
      &:active{
        pointer-events: none;
      }
      &:hover{
        scale: 1.2;
        transition: all ease 1s;
        cursor: pointer;
        z-index: 10;
        .overlay{
          background-color: rgb(25, 25, 25, 0.2);
          border-radius: 2em;
          transition: all ease 1s;
        }
        p{
          color: rgb(25, 187, 33);
          background: rgb(25, 25, 25, 0.9);
          transition: all ease 1s;
          padding: 2em;
        }
      }
      &:not(:hover){
        scale: 1;
        transition: all ease 1s;
        z-index: 10;
        .overlay{
          transition: all ease 1s;
        }
        p{
          color: rgb(25, 187, 33);
          background: rgb(25, 25, 25, 0.7);
          padding: 2em;
        }
      }
        img{
            border-radius: 1em;
            margin: 20px;
            width: 350px;
            height: 200px;
        }
        p{
            border-radius: 1em;
            text-align: center;
            color: blue;
        }
    }

}


.gameContainer{
  width: 100%;
  height: 80vh;
  background-color: rgb(254, 234, 212);
  position: relative;
  padding-top: 1%;
  .leftPart{
    height: 80%;
    width: 45%;
    position: absolute;
    top: 10%;
    left: 3%;
    box-shadow: -15px 10px 10px  rgb(59, 59, 59, 0.5);
  }
  .rightPart{
    margin: 0.5;
    background-color: green;
    max-height: 80%;
    width: 45%;
    position: absolute;
    top: 10%;
    right: 3%;
    overflow: hidden;
    .description{
      font-size: 0.55em;
    }
    h2{
      text-align: center;
      text-decoration: underline;
    }
    p{
      display: inline-block;
    }
  }
  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }
  ul{
    .tag {
      background: #eee;
      border-radius: 3px 0 0 3px;
      color: #999;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 20px 0 23px;
      position: relative;
      margin: 0 10px 10px 0;
      text-decoration: none;
      &::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }
      &::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }
      
      &:hover {
        background-color: crimson;
        color: white;
      }
      
      &:hover::after {
        border-left-color: crimson; 
      }
    }
  }
}
footer{
  width: 100%;
  text-align: center;
}






@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}




// Salut > sAlut > saLut > salUt > saluT 
